{{ define "main" }}

<div style="position: relative; width: 100%; height: 0; padding-top: 177.7778%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEShIogpSg&#x2F;view?embed">
  </iframe>
</div>

<h1>Little Dragon</h1>

<h3><a href="https://s.id/littledragon">Whatsapp</a>!</h3>

<h3><a href="https://www.instagram.com/ld_littledragon/">Instagram</a>!</h3>

<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=GT+Walsheim&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=DM+Mono&display=swap" rel="stylesheet" /><link href="./main.css" rel="stylesheet" /><title>Document</title></head><body><div class="v3_3827"><div class="v3_3891"><div class="v3_3892"><span class="v3_3893">Status</span></div><div class="v3_3920"></div><div class="v3_3926"><div class="v3_3927"><span class="v3_3928">whatsapp</span><div class="v3_3929"></div></div><div class="v3_3942"><span class="v3_3943">instagram</span><div class="v3_3944"></div></div></div><div class="v2_62"></div><div class="v2_63"></div><div class="v2_64"></div></div></div></body></html>

{{ end }}
